.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 87px 0 40px;

  border-radius: 4rem 4rem 0 0;
  border: 2px solid #000;

  flex: 1;

  background: #fff9eb;
}
